*{text-align: center;}
  table{margin: 30px auto;}
  th,td{
    border: 1px solid black;
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 120%;
    border-radius: 15px;
  }
  th{
    background-color: black;
    color: white;
  }
  td{
    background-color: azure;
  }
  .red{
    background-color: red;
    color: white;
  }
  .grey{background-color: rgb(227, 227, 227);}