*{
    margin: 0px;
    padding: 0px;
}

h1{
    color: brown;
    display: inline;
    background-color: aquamarine;
}

#primero{
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
}

#segundo{
    background-color: green;
    width: 100px;
    height: 100px;
    display: inline-block;
    float: right;
}

#tercero{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
    float: right;
}