*{
    margin: 0px;
    padding: 0px;
}

ul, ol{
    margin-left: 22px;
}

header{
    background-color: rgb(255, 255, 198);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .imagen{
        display: inline-block;
        margin: 10px 50px;
    }
    .titulo{
        display: inline-block;
    }
    .titulo h1{
        font-size: 50px;
    }

nav{
    background-color: rgb(159, 255, 159);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .perfil{
        width: 380px;
    }
    .articuloNav{
        display: inline-block;
        background-color: white;
        padding: 5px;
        margin: 10px 20px;
    }
    .titulo2 {
        font-weight: bold;
        font-size: 1.3em;
        line-height: 2rem;
    }

section{
    background-color: orange;
    display: inline-block;
    width: 80%;
}

article{
    display: inline-block;
    background-color: white;
    padding: 5px;
    margin: 10px 20px;
}

aside{
    background-color: red;
    width: 20%;
    float: right;
}

aside img{
    margin: 0px auto;
}

footer{
    background-color: blueviolet;
}
